.content-col {
    display: flex;
    flex-direction: column;
}

.text-wrapper {
    background-color: white;
    border-radius: 30px;
    max-height: 75vh;
    padding: 0em 5em;
    overflow-y: scroll;
    min-width: 25em;
}

.text-content {
    line-height: 30px;
    height: 65vh;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.text-content-therapist {
    line-height: 30px;
    height: 65vh;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    overflow-y: scroll;
}

.text-content-inner-therapist {
    width: 75%;
    height: 100%;
}

.input-boxes-exercise {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    gap: 1em;
}

.text-content-therapist-title {
    color: #fbf673;
}

.text-content-normal {
    line-height: 30px;
    height: 35vh;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.text-content-inner {
    width: 70%;
}

.mistake-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "OpenDyslexic", sans-serif;
    font-size: 25px;
    margin: 2em 1em;
}

.mistake-footer {
    font-family: "OpenDyslexic", sans-serif;
}

.mistake-info {
    text-align: center;
}

.mistake-text {
    font-size: 30px;
}

.tooltip-mistake {
    margin-left: 10px;
    text-decoration: none;
}


.button-next:disabled {
    background-color: #e9ecef;
    color: #a8a8a8;
    border-color: #e9ecef;
}

.index-story {
    display: inline-block;
    padding: 20px 28px;
    background-color: #fbf673;
    border-radius: 100%;
    margin-bottom: 1em;
}

.index-story-inner {
    display: flex;
    align-content: center;
    justify-content: center;
}

.microphone-wrapper {
    background-color: white;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-wrapper {
    position: relative;
    background: #fbf673;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    left: 93%;
    bottom: 1.5em;
    color: black;
    overflow: visible;
    margin: 0;
}

.edit-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.edit-content {
    background: #6b7c91;
    font-size: 0.8em;
    border-radius: 0.3em;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
}

.exercise-gen-text {
    font-size: 1.5em;
}