.patient-card:hover {
  background-color: #faf45a;
  cursor: pointer;
}

.regen:hover {
  cursor: pointer;
}

.min-height-bg {
  min-height: 100vh;
}

.overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}